.barfiller {
  margin-bottom: 20px;
  width: 70%;
  margin: 0;
  background: #f1f1f1;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  height: 12px;
  position: relative;
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  z-index: 1;
  background: #ffa500 !important;
  border-radius: 50px;
}

.barfiller .tipWrap {
  display: none;
}

.barfiller .tip {
  margin-top: -4px;
  font-size: 15px;
  color: var(--paraColor);
  left: 100% !important;
  position: absolute;
  z-index: 2;
  background: none;
  font-weight: 400;
  padding-left: 12px;
}